[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iris0107
[access "refs/for/refs/*"]
	read = group user/iris0107
	push = group user/iris0107
	label-Code-Review = -2..+2 group user/iris0107
	label-Verified = -1..+1 group user/iris0107
	rebase = group user/iris0107
	removeReviewer = group user/iris0107
	submit = group user/iris0107
[access "refs/heads/*"]
	read = group user/iris0107
	create = group user/iris0107
	push = +force group user/iris0107
	pushMerge = group user/iris0107
[access "refs/tags/*"]
	push = +force group user/iris0107
	pushTag = group user/iris0107
	pushSignedTag = group user/iris0107
